.root{
    -fx-base: white;
    -fx-background-color: white;		
}

#btnAdd {
	-fx-base: green;
}

#lblFav {
-fx-cursor: hand;
}

.button{
  -fx-background: rgb(0,0,0);
  -fx-border-color: transparent;
  -fx-background-radius: 10px;
  -fx-shadow-highlight-color : transparent;
  -fx-outer-border : transparent;
 -fx-inner-border : transparent;
-fx-cursor: hand;
}
