#btnCheckout {
	-fx-base: green;
	-fx-font-size: 20px;
}

#btnRemoveAll{
	 /*   -fx-background-color: linear-gradient(#ff5400, #be1d00);
     -fx-background-radius: 30;
     -fx-background-insets: 0;
     -fx-text-fill: white;
		 -fx-font-weight: lighter;*/
		 -fx-base: #ff5400;
		 -fx-text-fill: white;
}
#lblToPay, #lblCost{
	-fx-font-size: 18px;
}
.button{
	-fx-cursor: hand;
  -fx-background: rgb(0,0,0);
  -fx-font-weight: bold;
  -fx-border-color: transparent;
  -fx-background-radius: 12px;
  -fx-shadow-highlight-color : transparent;
  -fx-outer-border : transparent;
 -fx-inner-border : transparent;
}
#chkSave{
		-fx-font-family: 'Roboto-Regular';
}
#paneCart, #vList {
	fx-background-color: #f7f4e8;
	fx-border: none;
}
.label{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
			-fx-font-family: 'Roboto-Regular';
}

#lblCost{
	-fx-font-family:'Roboto';
}


.root{
		-fx-font-family: 'Roboto-Regular';
		-fx-font-size:13px;
 		-fx-font-weight: lighter;
}

@font-face {
	font-family: Roboto;
 src: url('@../Fonts/RobotoTTF/Roboto-Medium.ttf');
}

@font-face {
	font-family: Roboto-Regular;
 src: url('@../Fonts/RobotoTTF/Roboto-Regular.ttf');
}
