.root{
    -fx-base: white;
    -fx-background-color: white;
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 13px;
}

#ElementItemNormal{

  -fx-border-color: rgb(224, 176, 255);
  -fx-border-width: 1;
  -fx-border-radius: 5px;
  -fx-border-style: solid;
}

#lblMessage {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

#ElementItemFavorited{
  -fx-border-color: rgb(224, 176, 255);
  -fx-border-width: 1;
  -fx-border-radius: 5px;
  -fx-border-style: solid;
   -fx-effect: dropshadow( gaussian, rgb( 255, 0, 0, 0.75 ),10, 0, 0, 0 );
}

#ElementItemFeatured{
  -fx-border-color: rgb(224, 176, 255);
  -fx-border-width: 1;
  -fx-border-radius: 5px;
  -fx-border-style: solid;
   -fx-effect: dropshadow( gaussian, rgb( 255, 255, 0, 0.5 ),10, 0, 0, 0 );
}

#btnAdd {
	-fx-base: #9494a5;
	-fx-font-family: 'Roboto-Regular';
}

#lblFav {
-fx-cursor: hand;
-fx-font-size:13px;
-fx-font-family:"Roboto-Regular";
}

.button{
  -fx-background: rgb(0,0,0);
  -fx-border-color: transparent;
  -fx-background-radius: 10px;
  -fx-shadow-highlight-color : transparent;
  -fx-outer-border : transparent;
 -fx-inner-border : transparent;
-fx-cursor: hand;
}

@font-face {
	font-family: Roboto-Regular;
 src: url('@../Fonts/RobotoTTF/Roboto-Regular.ttf');
}
