/** GENERAL  **/

#sideCategory{
	-fx-font-weight : bold;
	-fx-font-size: 16px;
}
#receiptPane {
	-fx-background-color: #F9f9f9;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 3, 3);
}
.root{
		-fx-font-family: 'Roboto';
		-fx-font-size:13px;
		-fx-font-weight: bold;
}
@font-face {
	font-family: Roboto;
 src: url('@../Fonts/RobotoTTF/Roboto-Medium.ttf');
}
.text-field {
	-fx-font-size: 18px;
}

/** BUTTONS **/

.button{
  -fx-font-weight: bold;
  -fx-border-color: transparent;
  -fx-background-radius: 14px;
  -fx-shadow-highlight-color : transparent;
  -fx-outer-border : transparent;
 -fx-inner-border : transparent;
}
#btnShop, #btnShop1 {
	-fx-base: green;
	-fx-font-size: 20px;
	-fx-cursor: hand;
}
#btnClose {
	-fx-base: red;
	-fx-font-size: 18px;
	-fx-cursor: hand;
}
#btnStart, #btnBack {
	-fx-base: #9494a5;
	-fx-font-size: 18px;
	-fx-cursor: hand;
}
#btnHistory, #btnNext {
	-fx-base: green;
	-fx-font-size: 18px;
	-fx-cursor: hand;
}
#btnSearch {
	-fx-base: #FFF;
	-fx-font-size: 20px;
}
.toggle-button {
	-fx-font-size: 16px;
}

/** LABELS **/

#lblPayment, #lblDelivery {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}
#lblMyCart{
	-fx-font-size: 18px;
}
#lblFav, #lblUser, #lblHistory, #chkSaveCard {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}
#chkSaveCard {
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}
#lblWelcome, #lblWelcomeUser, #lblThankYou, #lblDeliveryInfo, #lblPaymentInfo{
	-fx-font-family: 'Roboto';
	-fx-font-size: 42px;
}
#lblSubTitle, #lblSubTitle2{
	-fx-font-family: 'Roboto';
	-fx-font-size: 34px;
	-fx-font-weight: normal;
}
#lblThankYou, #lblDeliveryInfo, #lblPaymentInfo{
	-fx-font-weight: bold;
}
#lblThankYou1,#lblThankYou11{
	-fx-font-family: 'Roboto';
	-fx-font-size: 35px;
}