#btnShop, #btnShop1 {
	-fx-base: green;
	-fx-font-size: 20px;
	-fx-cursor: hand;
}
#btnClose {
	-fx-base: red;
	-fx-font-size: 18px;
	-fx-cursor: hand;
}
#btnStart {
	-fx-base: #9494a5;
	-fx-font-size: 18px;
	-fx-cursor: hand;
}
#btnHistory {
	-fx-base: green;
	-fx-font-size: 18px;
	-fx-cursor: hand;
}
#btnSearch {
	-fx-base: #FFF;
	-fx-font-size: 20px;
}

#sideCategory{
	-fx-font-weight : bold;
	-fx-font-size: 16px;
}
#lblMyCart{
	-fx-font-size: 18px;
}
#lblFav, #lblUser, #lblHistory {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}

.button{
  -fx-font-weight: bold;
  -fx-border-color: transparent;
  -fx-background-radius: 14px;
  -fx-shadow-highlight-color : transparent;
  -fx-outer-border : transparent;
 -fx-inner-border : transparent;
}
#receiptPane {
	-fx-background-color: #F9f9f9;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 3, 3);
}
.root{
		-fx-font-family: 'Roboto';
		-fx-font-size:13px;
		-fx-font-weight: bold;
}

#lblWelcome, #lblWelcomeUser, #lblThankYou{
	-fx-font-family: 'Roboto';
	-fx-font-size: 42px;
}
#lblThankYou{
	-fx-font-weight: normal;
}

#lblThankYou1,#lblThankYou11{
	-fx-font-family: 'Roboto';
	-fx-font-size: 35px;
}


@font-face {
	font-family: Roboto;
 src: url('@../Fonts/RobotoTTF/Roboto-Medium.ttf');

}
