@font-face {
	font-family: Roboto;
 src: url('@../Fonts/RobotoTTF/Roboto-Medium.ttf');

}

.root{
		-fx-font-family: 'Roboto';
		-fx-font-size:13px;
		-fx-font-weight: bold;
}

#btnFinish {
	-fx-base: green;
	-fx-font-size: 20px;
}

#btnBack {
	-fx-base: #9494a5;
	-fx-font-size: 18px;
	-fx-cursor: hand;
}
.label{
	-fx-font-size: 20px;
	-fx-font-weight: lighter;
			-fx-font-family: 'Roboto-Regular';
}

.button{
	
}

@font-face {
	font-family: Roboto-Regular;
 src: url('@../Fonts/RobotoTTF/Roboto-Regular.ttf');
}

.error{
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}

.valid{
  -fx-text-box-border: green ;
  -fx-focus-color: green ;
}
