
#btnSearch {
	-fx-base: #FFF;
	-fx-font-size: 20px;
}
#searchField{
	-fx-background-radius: 10;
}

#sideCategory{
	-fx-font-weight : bold;
	-fx-font-size: 16px;
}
#lblMyCart{
	-fx-font-size: 18px;
}
#lblFav, #lblUser, #lblHistory {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}
.button{
  -fx-background: rgb(0,0,0);
  -fx-font-weight: bold;
  -fx-border-color: transparent;
  -fx-background-radius: 14px;
  -fx-shadow-highlight-color : transparent;
  -fx-outer-border : transparent;
 -fx-inner-border : transparent;
}

.root{
	-fx-font-size:13px;
	-fx-font-weight: bold;
}

#lblWelcome{
	-fx-font-family: 'Roboto';
	-fx-font-size: 36px;
}

.pane{
	-fx-background-color: white;
}

#paneTop{
 -fx-background-color:
     #9494a5;

		 -fx-font-family: 'Roboto';
		 -fx-font-size:13px;
		 -fx-font-weight: bold;
}

.#sideCategory{
	-fx-font-size: 12px;
     -fx-font-weight: bold;
     -fx-text-fill: #333333;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );

		 -fx-font-family: 'Roboto';
		 -fx-font-size:13px;
		 -fx-font-weight: bold;
}

@font-face {
	font-family: Roboto;
 src: url('@../Fonts/RobotoTTF/Roboto-Medium.ttf');

}

.scroll-bar{
    -fx-background-color: white;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: white;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: white;
    -fx-background-insets:  0;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(205,205,205);
    -fx-background-insets: 2 0 2 0;
    -fx-background-radius: 0em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(205,205,205);
    -fx-background-insets: 0 2 0 2;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(215,215,215);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(96,96,96);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 5 5 5 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
     -fx-background-color:transparent;
     -fx-background-radius: 0em;
     -fx-padding: 5 5 5 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}
.scroll-bar:vertical .increment-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
    -fx-rotate: 180;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: -fx-box-border,-fx-box-border,white;  }
