#btnShop, #btnShop1 {
	-fx-base: green;
	-fx-font-size: 20px;
	-fx-cursor: hand;
}
#btnClose {
	-fx-base: red;
	-fx-font-size: 20px;
	-fx-cursor: hand;
}
#btnStart {
	-fx-base: #9494a5;
	-fx-font-size: 20px;
	-fx-cursor: hand;
}
#btnHistory {
	-fx-base: green;
	-fx-font-size: 20px;
	-fx-cursor: hand;
}
#btnSearch {
	-fx-base: #FFF;
	-fx-font-size: 20px;
}

#sideCategory{
	-fx-font-weight : bold;
	-fx-font-size: 16px;
}
#lblMyCart{
	-fx-font-size: 18px;
}

#lblFav, #lblUser, #lblHistory {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}

.root{
		-fx-font-family: 'Roboto';
		-fx-font-size:13px;
		-fx-font-weight: bold;
}
.label{
 -fx-text-fill: black;
}

#paneDefault,#paneRegistered{
    -fx-background: white;
}



#lblWelcome, #lblWelcomeUser, #lblThankYou{
	-fx-font-family: 'Roboto';
	-fx-font-size: 42px;
}
#lblThankYou{
	-fx-font-weight: normal;
}


@font-face {
	font-family: Roboto;
 src: url('@../Fonts/RobotTTF/Roboto-Medium.ttf');

}